.image {
    width: 750px;
    float: right;
    margin-top: 130px; /*115*/
}
.text-container {
    display: flex;               
    flex-direction: column;  
    justify-content: center;    
    align-items: flex-start;    
    height: 100vh;             
    padding-left: 5%;   
    font-weight: 700; 
    font-size: 4rem;   
}
.bottom-container {
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: flex-start; 
    font-size: 2rem; 
}