
body {
    background-image: url('/src/bg.svg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.image {
    width: 750px;
    margin-left: 150%;
    margin-bottom: -21%;
}
.container {
    display: flex;
    align-items: center; /* Centers vertically */
    height: 100vh; /* Full viewport height */
    padding-left: 20px; /* Adjust as needed */
  }
  
  .text {
    max-width: 600px; /* Adjust width as needed */
}