.btn {
    border: none;
    cursor: pointer;
    background: transparent;
    color: rgb(47,44,47);
}

.btn-outlined {
    background-color: rgb(181, 136, 205);
    color: white;
    padding: 10px 20px;
    border-radius: 31px;
    cursor: pointer;
}
.btn-red {
    background-color: red;
    color: white;
}
.btn-small {
    font-size: 14x;
    padding: 5px 10px;
}
.btn-medium {
    font-size: 20px;
}
.btn-large {
    font-size: 25px;
    padding: 15px 30px;
}