
.header {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: rgb(255, 255, 255); 
    position: absolute;
    top: 0;
    justify-content: center;
}

.logo {
    margin-right: auto;
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 72px;
    position: absolute;
}